
numpy
pandas
scipy
matplotlib
seaborn
scikit-learn
jupyterlab


tensorflow
torch
torchvision


pyautogui
selenium
beautifulsoup4
requests


opencv-python
Pillow


pymongo

flask
django

fastapi
uvicorn

sqlalchemy
psycopg2
pymysql

chatterbot
chatterbot-corpus
pyyaml
jupiter
flask